/* Card1.css */
.flex {
  display: flex;
}
.alignItemCenter {
  align-items: center;
}
.alignItemEnd {
  align-items: end;
}
.jusityBetween {
  justify-content: space-between;
}
.infoHeader {
  display: flex;
  align-items: center;
}

.infoHeader .infoIcon {
  margin-right: 10px;
}

.infoHeader .title {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.infoDetails {
  margin-top: 10px;
}

.optionButton {
  display: flex;
  height: 44px;
  width: 100%;
  padding: 20px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 4px;
  border: 2px solid var(--Primary-colours-FWD-Orange, #e87722);
  background-color: #fff;
  color: #183028;
}

.optionButton.active {
  border-radius: 4px;
  border: 2px solid var(--Primary-colours-FWD-Orange, #e87722);
  background: var(--supporting-colours-fwd-orange-light-20, #fae4d3);
  color: #e87722;
}

.mt16 {
  margin-top: 16px;
}
.ml8 {
  margin-left: 8px;
}
.ml4 {
  margin-left: 4px;
}
.mt16 {
  margin-top: 16px;
}
.titleTaxResidence {
  color: #183028;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
}

.addTaxResidenceCountryBtn {
  color: var(--Primary-color-FWD-Orange, #e87722);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  border-radius: 4px;
  border: 2px solid var(--Primary-color-FWD-Orange, #e87722);
  height: 44px;
  width: 100%;
  background-color: #fff;
  align-items: center;
  padding: 10px 16px;
  gap: 4px;
  justify-content: center;
  display: flex;
}
// custom select field
.select__field {
  border-radius: 4px;
  border: 1px solid var(--Supporting-Color-FWD-Grey, #dbdfe1);
  background: var(--Supporting-Color-White, #fff);
  display: flex;
  width: 100%;
  height: 56px;
  padding: 0px 16px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  -webkit-appearance: none;
  /* for webkit browsers */
  -moz-appearance: none;
  /* for firefox */
  appearance: none;
  /* for modern browsers */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex: 1 0 0;
  font-size: 16px;
  font-style: normal;
  color: #183028;
}

/* remove default caret for ie */

.select__field::-ms-expand {
  display: none;
}

// check box

.checkbox {
  /* ซ่อนเครื่องหมายถูกที่มากับ checkbox */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* กำหนดขนาดของ checkbox */
  width: 18px;
  height: 18px;
  /* สร้างพื้นหลังสีส้ม */
  background-color: #fff;
  /* กำหนดรูปร่างของ checkbox */
  border-radius: 4px;
  border: 1px solid #e87722; /* เส้นขอบสีส้ม */
  position: relative;
  /* ปรับข้อความเมื่อ checkbox เป็น 'checked' */
}

.checkbox:checked {
  background-color: #e87722;
  /* สร้างเครื่องหมายถูกสีขาว */
  &:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
.labelNoTax {
  color: var(--Secondary-color-FWD-Dark-Green, #183028);
  /* Body/16 Book */
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
}
