/* Card1.css */
.flex {
  display: flex;
}
.alignItemCenter {
  align-items: center;
}
.alignItemEnd {
  align-items: end;
}
.jusityBetween {
  justify-content: space-between;
}
.infoHeader {
  display: flex;
  align-items: center;
}

.infoHeader .infoIcon {
  margin-right: 10px;
}

.infoHeader .title {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.infoDetails {
  margin-top: 10px;
}

.optionButton {
  display: flex;
  height: 44px;
  width: 100%;
  padding: 20px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 4px;
  border: 2px solid var(--Primary-colours-FWD-Orange, #e87722);
  background-color: #fff;
  color: #183028;
}

.optionButton.active {
  border-radius: 4px;
  border: 2px solid var(--Primary-colours-FWD-Orange, #e87722);
  background: var(--supporting-colours-fwd-orange-light-20, #fae4d3);
  color: #e87722;
}

.mt16 {
  margin-top: 16px;
}
.ml8 {
  margin-left: 8px;
}
.ml4 {
  margin-left: 4px;
}
.mt16 {
  margin-top: 16px;
}
.mt5 {
  margin-top: 5px;
}
.titleTaxResidence {
  color: #183028;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
}

.addTaxResidenceCountryBtn {
  color: var(--Primary-color-FWD-Orange, #e87722);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  border-radius: 4px;
  border: 2px solid var(--Primary-color-FWD-Orange, #e87722);
  height: 44px;
  width: 100%;
  max-width: 257px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}
// custom select field
.select__field {
  border-radius: 4px;
  border: 1px solid var(--Supporting-Color-FWD-Grey, #dbdfe1);
  background: var(--Supporting-Color-White, #fff);
  display: flex;
  width: 100%;
  height: 56px;
  padding: 0px 16px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  -webkit-appearance: none;
  /* for webkit browsers */
  -moz-appearance: none;
  /* for firefox */
  appearance: none;
  /* for modern browsers */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex: 1 0 0;
  font-size: 16px;
  font-style: normal;
  color: #183028;
}
.iconPointer {
  cursor: pointer;
}

/* remove default caret for ie */

.select__field::-ms-expand {
  display: none;
}

// check box

.checkbox {
  /* ซ่อนเครื่องหมายถูกที่มากับ checkbox */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* กำหนดขนาดของ checkbox */
  width: 18px;
  height: 18px;
  /* สร้างพื้นหลังสีส้ม */
  background-color: #fff;
  /* กำหนดรูปร่างของ checkbox */
  border-radius: 4px;
  border: 1px solid #e87722; /* เส้นขอบสีส้ม */
  position: relative;
  /* ปรับข้อความเมื่อ checkbox เป็น 'checked' */
}

.checkbox:checked {
  background-color: #e87722;
  /* สร้างเครื่องหมายถูกสีขาว */
  &:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
.labelNoTax {
  color: var(--Secondary-color-FWD-Dark-Green, #183028);
  /* Body/16 Book */
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
}
.spanTextReason2 {
  color: var(--Supporting-colours-FWD-Grey-Darkest, #636566);
  font-size: 14px;
  font-style: normal;
  font-weight: 450;
}

.specifyNoTinReason2 {
  color: var(--Supporting-colours-FWD-Grey-Darkest, #636566);
  font-size: 14px;
  font-style: normal;
  font-weight: 450;
  max-width: 254px;
}
.TextFieldspecifyNoTinReason2 {
  border-radius: 4px;
  border: 1px solid var(--Supporting-Color-FWD-Grey, #dbdfe1);
  background: var(--Supporting-Color-White, #fff);
  width: 100%;
  max-width: 536px;
  height: 56px;
  align-items: center;
  margin-top: 12px;
}

// custom radio

/* เมื่อ radio button ถูกเลือก */
.inputRadio:checked {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"%3E%3Ccircle cx="10" cy="10" r="2" fill="%23E87722" /%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20ZM9.99991 16C6.6862 16 3.99991 13.3137 3.99991 10C3.99991 6.68631 6.6862 4.00002 9.99991 4.00002C13.3136 4.00002 15.9999 6.68631 15.9999 10C15.9999 13.3137 13.3136 16 9.99991 16Z" fill="%23E87722" /%3E%3C/svg%3E');
    background-size: cover;
  }
}

.inputRadio:not(:checked) {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"%3E%3Ccircle cx="12" cy="12" r="9" stroke="%23E87722" stroke-width="2" /%3E%3C/svg%3E');
    background-size: cover;
  }
}
